.cards-container{
    background-color:#ECF2FF;
    position: relative;
    display: flex;
    justify-content: space-around;
    top: 22vh;
    margin-bottom: 1rem;


}
.card-container{
    height: 4%;
    width: 20vw;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


}
#category-name{
    color: #566D86;
    margin-bottom: 5px;
    top: 1rem;
    left: 1rem;
    position: relative;
    margin-bottom: 1rem;
}
.card-r{
    border: 2px solid #FF6565;
    display: flex;
    border-radius: 10px;
    background-color:#FFEEEE ;
    justify-content: space-around;
    margin: 10px;
    height: 40px;
    align-items: center;
    color: #FF6565;
    padding: 1.8rem;
}
.card-g{
    border: 2px solid #3251CD;
    display: flex;
    border-radius: 10px;
    background-color:#DFEFFF;
    justify-content: space-around;
    margin: 10px;
    height: 40px;
    align-items: center;
    color:  #3251CD;
    padding: 1.8rem;



}
.downChevron{
    height: 10.205px;
    
}
.card-image{
    height: 10.446px;
    
}
@media (1100px <= width <=1200px ){
    .cards-container{
        margin-top: 10vh;
    }

}