/* .parent {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.sidebar {
  width: 20%;
}

.cloth-access-container {
  width: 80%;
  background-color: #ecf2ff;
  height: 100vh;
  z-index: -10;
  position: relative;
}
  .parent {
    display: flex;
    justify-content: flex-end;
    position: relative;
   
  
  }
  .sidebar{
    width: 20%;

  }

  .cloth-access-container {
    width: 80%;
    background-color: #ECF2FF;
    height: 100vh;
    margin-right: -1rem;
    z-index: -10;
    position: relative;

  }
  .cloth-access-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 18vh;
 
  }
  
  
  
  .cloth-access-left-header, .cloth-access-right-content {
    display: flex;
    align-items: center;
    gap: 10px; Adjust the spacing between the elements 
    margin-right: 30px; 
    color: #566D86;

  }

  .cloth-access-left-header img{
    margin-left:1rem ;
  }

.cloth-access-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 20vh;
}

.cloth-access-left-header,
.cloth-access-right-content {
  display: flex;
  align-items: center;
  gap: 10px; 
  margin-right: 30px;
  color: #566d86;
}

.cloth-access-left-header img {
  margin-left: 1rem;
}

.p {
  display: initial;
  margin: initial;
  padding: 0;
  margin-left: 1rem;
}

.cloth-access-right-content img {
  height: 30px;
  margin-left: 2rem;
  margin-top: 0.6rem;
}

.cloth-access-right-content-first-part {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #566d86;
}

.cloth-access-right-content-sec-part {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #566d86;
}

.cloth-access-right-content-first-part img,
.cloth-access-right-content-sec-part img {
  height: 10px;
  margin-bottom: 8px;
}

.cloth-access-right-content-first-part p {
  margin-left: 0.3rem;
}

.cloth-access-right-content-sec-part p {
  text-decoration: underline;
  color: #3251cd;
}

.cloth-access-left-header img {
  height: 30px;
  margin-left: 2rem;
  margin-top: 0.6rem;
}

.cloth-access-left-header p {
  margin-left: 0.1rem;
  margin-top: 0.8rem;
}

.cloth-access-rigth-header p {
  margin-left: 2.5rem;
}

.cloth-access-content p {
  font-size: 14px;
}

@media (max-width: 1200px) {
  .cloth-access-content {
    margin-top: 14vh;
    font-size: 2rem;
    top: 5vh;
  }

  .cloth-access-right-content {
    margin-right: 8rem;
  }

  .cloth-access-right-content-sec-part img {
    margin-left: 0.3rem;
  }
}

@media (max-width: 1100px) {
  .cloth-access-container {
    width: 100%;
  }

  .sidebar {
    display: none;
  }

  .cloth-access-content {
    margin-top: 14vh;
    font-size: 2rem;
    top: 5vh;
  }

  .cloth-access-right-content {
    margin-right: 2rem;
  }

  .cloth-access-right-content img {
    height: 20px;
  }
}

@media (max-width: 600px) {
  .cloth-access-content {
    top: 2rem;
    margin-right: 1rem;
  }
} */
