body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50%;
    color: #3251CD;
    border: 3px solid #3251CD;
    background-color: rgb(177, 237, 255);
    padding: 10px 30px;
    font-size: large;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
}
.button:hover{
    color: white;
    background-color: #3251CD;

}
