.register-nav{
    background-color: #fff;
    height: 5rem;
    
    border-radius: 1rem;
  
    width: 100vw;
    position: fixed;
    left: 0;
    right: 0;
    
  

}
.text{
    color:#3251CD
}
p{
    padding: 1rem;
    margin-top:8rem ;
}